{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-control">
                    <div class="form-btn-group text-left">
                        <a href="{{ path('app_admin_index') }}" class="btn btn-danger my-4">
                            Retour
                        </a>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.region1) }}
                    </div>
                    <div class="form-btn-group text-right">
                        <button type="submit" class="btn btn-info mt-4">
                            Enregistrer
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}