.connexion-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background: linear-gradient(113.04725084522124deg,
    rgba(246, 245, 245,1) 4.927083333333334%,
    rgba(220, 220, 220,1) 97.84374999999999%);
}

.circle{
    width: 100rem;
    height: 100rem;
    border-radius: 50%;
    background: #292255;
    position: absolute;
    top: -50rem;
    right: -50rem;
    z-index: 1;
}

.connexion-form-container{
    width: 30rem;
    border-radius: 0.4rem;
    z-index: 100;

    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)  ;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)  ;
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)  ; */

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1)  ;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1)  ;
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1)  ;

    background: linear-gradient(113.04725084522124deg,
    rgba(246, 245, 245,1) 4.927083333333334%,
    rgba(220, 220, 220,1) 97.84374999999999%);
}
