{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <h1 class="text-center mt-5">Bienvenue Admin <span class="text-info">{{ user.prenom }}</span></h1>
    <ul class="navbar-nav mt-5">
        <li class="nav-item my-5">
            <a class="btn btn-outline-info" href="{{ path('app_admin_addsejour') }}">Ajouter un séjour</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-info" href="{{ path('app_admin_addactivites') }}">Ajouter une activitée</a>
        </li>
        <li class="nav-item my-5">
            <a class="btn btn-outline-info " href="{{ path('app_admin_addregion') }}">Ajouter une region</a>
        </li>
    </ul>


{% endblock %}
