{% extends 'layout.html.twig' %}

{% block content %}
    <h2 class="text-center my-5">Modification Profil</h2>
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-btn-group text-left">
                    <a href="{{ path('app_profil_index') }}" class="btn btn-info mt-4">
                        retour
                    </a>
                </div>
                <a href="{{ path('app_profil_imgedit') }}">
                    <img class="img-fluid" src="{{ asset('profil-img/' ~ user.getProfilImg) }}" alt="" />
                </a>
            </div>
            <div class="col-6">
                <div class="form-control p-5">
                    <div class="form-group">
                        {{ form_row(form.profil_img) }}
                    </div>
                </div>
                <div class="form-btn-group text-right">
                    <button type="submit" class="btn btn-info mt-4" onclick="return confirm('are u sure?')">
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}