/*
#175667
#292255
 */
/******* Couleur ********/
:root{
  --btn: rgba(41,34,85,1);
  --hover: rgb(59,35,106);
  --vio2: rgb(69,40,125);
  --vio3: rgb(116,26,152);
  --vio4: rgb(145,37,164);
  --vio5: rgb(185,59,193);
  --blue1: rgb(32,176,231);
  --blue2: rgb(186,202,233);
  --bg1: #f1f1f1;
}

h1, h2, h3, h3, h4, h5{
  font-family: 'Archivo Narrow', sans-serif;
}

h5{
  font-size: 1.9em;
}

h4{
  font-size: 2.1em;
}

h3{
  font-size: 2.3em;
}

h2{
  font-size: 2.5em;
}

p{
  font-family: 'Merriweather', serif;
  font-size: 1em !important;
}

.my-link{
  color: var(--btn);
}

.my-link:hover{
  color: var(--hover);
}

.my-btn{
  background: var(--btn) !important;
  border-color: var(--btn) !important;
  color: #fff;
}

.my-btn:hover{
  background: var(--hover) !important;
  color: #fff;
}

/**************** NAV ********************/
.my-navbar{
  background: #292255 !important;
  color: white;
}

#logo {
  height: 2rem;
}

.my-navlink:hover {
  color: var(--blue1) !important;
}

.my-input{
  height: 1.5rem;
}

.btn-cnx{
  padding: 0 0.5rem;
}

.btn-cnx:hover{
  background: none !important;
  color: var(--blue1);
}

/**************************************************************/
/**** MAIN ***************************************************/
/************************************************************/
body{
  font-size: 0.9rem;
}

.top-container{
  height: 1000px;
  background: url("img/index02-violet.jpg") 0 -50px no-repeat;
  background-attachment: fixed;
}

.img-index{
  width: 100%;
  position: relative;
  bottom: 0;
}

#page-container{
  height: 4000px;
}

/**** Btn landing page ***/
.btns-container{
  width: 11rem;
  padding: 1.5rem 0;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  position: relative;
  top: -28rem;
  left: calc(50% - 12rem/2);
}

.btn-join{
  background: var(--btn);
  color: #fff;
}

.btn-join:hover{
  background: var(--hover);
  color: #fff;
}

.for-border-bottom{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  /**width: 8rem;
  margin: 0 auto;**/
}

/**** Etapes ****/
.row-etapes{
  padding: 100px 0;
  background: #292255;
}

.forme-hexa{
  height: 120px;
}

.border-bottom{
  margin-bottom: 3rem;
}

.step-h4{
  background: #292255;
  position: relative;
  top: 16px;
  width: 110px;
  margin: 0 auto;
}

.border-conteneur{
  padding: 0 2.5rem;
}

